/* Estilos de las imágenes */
  
/* Estilos del botón */
  .boton-alquileres-temporales {
    background-color: #333c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 400px;
    height: 50px;
    position: relative;
    top: -30px;
    left: -230px;
  }
  
  .textResaltado {
    font-weight: bolder;
    font-size: 38px;
    position: relative;
    right: -8%;
    z-index: 50;
  }
  
  .text {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    z-index: 50;
    top: -230px;
    left: -320px;
  }
  
  
  #casitaPortada img{
    width: 38vw;
    position: relative;
    top: -390px;
    left: -180px;
    float: right;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    height: 45vh;
    background-color: #070606;
    z-index: 30;
  }