/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #000;
  }
  
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  /* Formulario */
  form {
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #333c3c;
    color: #eca555;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:not(:last-child) {
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #333c3c;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: #333c3c;
  }
  
  /* Botones de acciones dentro de la tabla */
  table button {
    background-color: #a25733;
    color: #000;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  table button:hover {
    background-color: #eca555;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    table {
      font-size: 12px;
    }
  }
  